<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>

  <!-- send robot urdf to param server -->
  <include file="$(find ur5_barrett_bringup)/launch/ur5_barrett_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!--Load the Joint state controller -->


  <include file="$(find ur5_barrett_bringup)/launch/controller.launch"/>
  
  <!-- Load the arm controller --> 

  <rosparam file="$(find ur5_barrett_bringup)/controller/arm_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />

  

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ur5_barrett_bringup)/controller/bh282_controller.yaml" command="load"/>

  <!-- load the controllers of the hand-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="
		bh_j11_position_controller 
		bh_j12_position_controller 
		bh_j21_position_controller 
		bh_j22_position_controller 
		bh_j32_position_controller"/> 
  
  <include file="$(find bhand_gazebo)/launch/bhand_controller_gazebo.launch"/>
  

  <!-- Stow the arm -->
  <node name="stow_ur5_new" pkg="ur5_barrett_bringup" type="stow_ur5_new" />

  
  


</launch>
