<?xml version="1.0"?>
<launch>
	<arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
	
	<include file="$(find ur5_barrett_bringup)/launch/robot_bringup.launch"/>
 	<node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/table.urdf -urdf -x 1 -z 0.01 -model table" respawn="false" output="screen" />

</launch>
