<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur5_barrett_description)/Robot/ur5_barrett_dist.xacro'" />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur5_barrett_description)/Robot/ur5_barrett_dist_joint_limited.xacro'" />

	
</launch>
